<% user = User.find(post.user_id) %>

<div class="panel panel-default text-lowercase">
  <div class="panel-heading">
    <h4><%= post.title %></h4>
    <h5>
      <% if logged_in? %>
        <b><%= user.name %></b>
      <% end %>
      <small><%= "#{time_ago_in_words(post.created_at)} ago" %></small>
    </h5>
  </div>
  <div class="panel-body">

    <div>
      <%= simple_format(post.body)%>
    </div>
  </div>
</div>
